* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {list-style: none;}
a, a:hover {text-decoration: none;}
select:focus, input:focus {outline: none;}


/* 헤더 */

header {border-bottom: 1px solid #000;}

header .box {
    margin: 0 auto;
    width: 70%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo img {
    width: 150px;
    height: 100px;
    object-fit: cover;
}

header ul {
    display: flex;
}

header ul li:not(li:nth-child(5)) {
    margin-right: 15px;
}

/* 슬라이드 */

.slide {
    height: 500px;
    background-color: #eee;

    position: relative;

    margin-bottom: 80px;
    overflow: hidden;
}

.inner {
    width: 300%;
    height: 100%;

    display: flex;

    position: absolute;
}

.image {
    width: calc(100% / 3);
    height: 100%;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.labels {
    width: 100%;
    height: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 10%;
}

.label, .left-label, .right-label {
    width: 15px;
    height: 15px;

    position: relative;

    border: 3px solid #fff;
    border-radius: 50%;

    margin: 0 4px;
}

.label > label, .left-label label, .right-label label {
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0; top: 0;

    cursor: pointer;
}

/* 순방향 원본 */

@keyframes move-1-2 {
    0%      { left: -100%; }
    22.222% { left: -100%; }

    33.333% { left: -200%; }
    55.555% { left: -200%; }

    66.666% { left: 0%; }
    88.888% { left: 0%; }

    100%    { left: -100%; }
}

@keyframes move-2-3 {
    0%      { left: -200%; }
    22.222% { left: -200%; }

    33.333% { left: 0%; }
    55.555% { left: 0%; }

    66.666% { left: -100%; }
    88.888% { left: -100%; }

    100%    { left: -200%; }
}

@keyframes move-3-1 {
    0%      { left: 0%; }
    22.222% { left: 0%; }

    33.333% { left: -100%; }
    55.555% { left: -100%; }

    66.666% { left: -200%; }
    88.888% { left: -200%; }

    100%    { left: 0%; }
}

/* 순방향 카피 */

@keyframes move-1-2-copy {
    0%      { left: -100%; }
    22.222% { left: -100%; }

    33.333% { left: -200%; }
    55.555% { left: -200%; }

    66.666% { left: 0%; }
    88.888% { left: 0%; }

    100%    { left: -100%; }
}

@keyframes move-2-3-copy {
    0%      { left: -200%; }
    22.222% { left: -200%; }

    33.333% { left: 0%; }
    55.555% { left: 0%; }

    66.666% { left: -100%; }
    88.888% { left: -100%; }

    100%    { left: -200%; }
}

@keyframes move-3-1-copy {
    0%      { left: 0%; }
    22.222% { left: 0%; }

    33.333% { left: -100%; }
    55.555% { left: -100%; }

    66.666% { left: -200%; }
    88.888% { left: -200%; }

    100%    { left: 0%; }
}

/* 역방향 원본 */

@keyframes move-1-3 {
    0% { left: 0%; }
    100% { left: -200%; }
}

@keyframes move-3-2 {
    0% { left: -200%; }
    100% { left: -100%; }
}

@keyframes move-2-1 {
    0% { left: -100%; }
    100% { left: 0%; }
}

/* 역방향 카피 */

@keyframes move-1-3-copy {
    0% { left: 0%; }
    100% { left: -200%; }
}

@keyframes move-3-2-copy {
    0% { left: -200%; }
    100% { left: -100%; }
}

@keyframes move-2-1-copy {
    0% { left: -100%; }
    100% { left: 0%; }
}

/* target-slide */

#target-slide > .inner {
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-delay: calc(-9s + 1s);
}

/* 원본 */

/* 순방향 */

#target-1-2:checked ~ #target-slide > .inner { animation-name: move-1-2; }
#target-2-3:checked ~ #target-slide > .inner { animation-name: move-2-3; }
#target-3-1:checked ~ #target-slide > .inner { animation-name: move-3-1; }

/* 역방향 */

#target-1-3:checked ~ #target-slide > .inner { animation-name: move-1-3, move-2-3; }
#target-3-2:checked ~ #target-slide > .inner { animation-name: move-3-2, move-1-2; }
#target-2-1:checked ~ #target-slide > .inner { animation-name: move-2-1, move-3-1; }

#target-1-3:checked ~ #target-slide > .inner,
#target-3-2:checked ~ #target-slide > .inner,
#target-2-1:checked ~ #target-slide > .inner {
    animation-duration: 1s, 9s;
    animation-iteration-count: 1, infinite;
    animation-delay: 0s, 1s;
}

/* 카피 */

/* 순방향 */

#target-1-2-copy:checked ~ #target-slide > .inner { animation-name: move-1-2-copy; }
#target-2-3-copy:checked ~ #target-slide > .inner { animation-name: move-2-3-copy; }
#target-3-1-copy:checked ~ #target-slide > .inner { animation-name: move-3-1-copy; }

/* 역방향 */

#target-1-3-copy:checked ~ #target-slide > .inner { animation-name: move-1-3-copy, move-2-3-copy; }
#target-3-2-copy:checked ~ #target-slide > .inner { animation-name: move-3-2-copy, move-1-2-copy; }
#target-2-1-copy:checked ~ #target-slide > .inner { animation-name: move-2-1-copy, move-3-1-copy; }

#target-1-3-copy:checked ~ #target-slide > .inner,
#target-3-2-copy:checked ~ #target-slide > .inner,
#target-2-1-copy:checked ~ #target-slide > .inner {
    animation-duration: 1s, 9s;
    animation-iteration-count: 1, infinite;
    animation-delay: 0s, 1s;
}

/* label 원본 */

@keyframes label-1 {
    0%      { z-index: 1; }
    22.222% { z-index: 1; }

    33.333% { z-index: 0; }
    55.555% { z-index: 0; }

    66.666% { z-index: 0; }
    88.888% { z-index: 0; }

    100%    { z-index: 0; }
}

@keyframes label-2 {
    0%      { z-index: 0; }
    22.222% { z-index: 0; }

    33.333% { z-index: 1; }
    55.555% { z-index: 1; }

    66.666% { z-index: 0; }
    88.888% { z-index: 0; }

    100%    { z-index: 0; }
}

@keyframes label-3 {
    0%      { z-index: 0; }
    22.222% { z-index: 0; }

    33.333% { z-index: 0; }
    55.555% { z-index: 0; }

    66.666% { z-index: 1; }
    88.888% { z-index: 1; }

    100%    { z-index: 0; }
}

/* label 복사본 */

@keyframes label-1-copy {
    0%      { z-index: 1; }
    22.222% { z-index: 1; }

    33.333% { z-index: 0; }
    55.555% { z-index: 0; }

    66.666% { z-index: 0; }
    88.888% { z-index: 0; }

    100%    { z-index: 0; }
}

@keyframes label-2-copy {
    0%      { z-index: 0; }
    22.222% { z-index: 0; }

    33.333% { z-index: 1; }
    55.555% { z-index: 1; }

    66.666% { z-index: 0; }
    88.888% { z-index: 0; }

    100%    { z-index: 0; }
}

@keyframes label-3-copy {
    0%      { z-index: 0; }
    22.222% { z-index: 0; }

    33.333% { z-index: 0; }
    55.555% { z-index: 0; }

    66.666% { z-index: 1; }
    88.888% { z-index: 1; }

    100%    { z-index: 0; }
}

.label label {
    animation-duration: 9s;
    animation-iteration-count: infinite;
    z-index: -1;
}

/* 원본 체크 */

/* case-1 */
#target-2-1:checked ~ #target-slide .label-1-copy { animation-name: label-1; }
#target-2-1:checked ~ #target-slide .label-2-copy { animation-name: label-2; }
#target-2-1:checked ~ #target-slide .label-3-copy { animation-name: label-3; }

#target-3-1:checked ~ #target-slide .label-1-copy { animation-name: label-1; }
#target-3-1:checked ~ #target-slide .label-2-copy { animation-name: label-2; }
#target-3-1:checked ~ #target-slide .label-3-copy { animation-name: label-3; }

/* case-2 */
#target-3-2:checked ~ #target-slide .label-1-copy { animation-name: label-3; }
#target-3-2:checked ~ #target-slide .label-2-copy { animation-name: label-1; }
#target-3-2:checked ~ #target-slide .label-3-copy { animation-name: label-2; }

#target-1-2:checked ~ #target-slide .label-1-copy { animation-name: label-3; }
#target-1-2:checked ~ #target-slide .label-2-copy { animation-name: label-1; }
#target-1-2:checked ~ #target-slide .label-3-copy { animation-name: label-2; }

/* case-3 */
#target-2-3:checked ~ #target-slide .label-1-copy { animation-name: label-2; }
#target-2-3:checked ~ #target-slide .label-2-copy { animation-name: label-3; }
#target-2-3:checked ~ #target-slide .label-3-copy { animation-name: label-1; }

#target-1-3:checked ~ #target-slide .label-1-copy { animation-name: label-2; }
#target-1-3:checked ~ #target-slide .label-2-copy { animation-name: label-3; }
#target-1-3:checked ~ #target-slide .label-3-copy { animation-name: label-1; }

/* 카피본 체크 */

/* case-1 */
#target-2-1-copy:checked ~ #target-slide .label-1 { animation-name: label-1; }
#target-2-1-copy:checked ~ #target-slide .label-2 { animation-name: label-2; }
#target-2-1-copy:checked ~ #target-slide .label-3 { animation-name: label-3; }

#target-3-1-copy:checked ~ #target-slide .label-1 { animation-name: label-1; }
#target-3-1-copy:checked ~ #target-slide .label-2 { animation-name: label-2; }
#target-3-1-copy:checked ~ #target-slide .label-3 { animation-name: label-3; }

/* case-2 */
#target-3-2-copy:checked ~ #target-slide .label-1 { animation-name: label-3; }
#target-3-2-copy:checked ~ #target-slide .label-2 { animation-name: label-1; }
#target-3-2-copy:checked ~ #target-slide .label-3 { animation-name: label-2; }

#target-1-2-copy:checked ~ #target-slide .label-1 { animation-name: label-3; }
#target-1-2-copy:checked ~ #target-slide .label-2 { animation-name: label-1; }
#target-1-2-copy:checked ~ #target-slide .label-3 { animation-name: label-2; }

/* case-3 */
#target-2-3-copy:checked ~ #target-slide .label-1 { animation-name: label-2; }
#target-2-3-copy:checked ~ #target-slide .label-2 { animation-name: label-3; }
#target-2-3-copy:checked ~ #target-slide .label-3 { animation-name: label-1; }

#target-1-3-copy:checked ~ #target-slide .label-1 { animation-name: label-2; }
#target-1-3-copy:checked ~ #target-slide .label-2 { animation-name: label-3; }
#target-1-3-copy:checked ~ #target-slide .label-3 { animation-name: label-1; }


/* 검색 */

.search {
    display: flex;
    align-items: center;

    position: relative;
    padding: 0 100px;
}

.search select {
    height: 50px;
    width: 150px;
    border-radius: 50px 0 0 50px;
    padding-left: 10px;
}

#searchBar {
    height: 50px;
    border-radius: 0 50px 50px 0;
}

.search button {
    font-size: 18px;
    position: absolute;
    right: 9%;
}

/* 인기게시물 */

.bestWeek .box {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.bestWeek .item {
    padding: 40px 100px;
    border-bottom: 1px solid #000;
    color: #000;
}

.bestWeek .item a {color: #000;}

.bestWeek .pan {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 10px;
    min-width: 80px;
    text-align: center;

    color: #fff;
    background: #003964;
}

.bestWeek .jab {
    display: flex;
}

/* 로그인 */

#login {
    height: 937px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login .logo img {
    width: 200px;
}

#login .right .box {
    display: flex;
    flex-direction: column;
}

#login .right .box .bot {
    align-self: flex-end;
}

/* 회원가입 */

#register {
    margin-top: 190.31px;

    border: 1px solid #aaa;
    padding: 45px 40px 15px;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#register .logo img {
    width: 150px;
}

#register > .box {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#register > .box .mid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
}

#register > .box .btns {
    grid-column: 1/3;
    margin: 0 auto;
}

#passwordHint::placeholder {
    text-align: right;
}

#register .item {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #aaa;
}

#register .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#register .right img {
    border-radius: 50%;
    width: 150px;
}

#register .cate .box {
    display: grid;
    grid-template-columns: repeat(4, 1fr 8fr);
    gap: 10px;
}

#register .cate .box > * {
    margin: auto 0;
}

#register .cate .box label {
    
    color: #aaa;
}

#register .cate .box input[id="temp1"]:checked ~ label[for="temp1"],
#register .cate .box input[id="temp2"]:checked ~ label[for="temp2"],
#register .cate .box input[id="temp3"]:checked ~ label[for="temp3"],
#register .cate .box input[id="temp4"]:checked ~ label[for="temp4"],
#register .cate .box input[id="temp5"]:checked ~ label[for="temp5"],
#register .cate .box input[id="temp6"]:checked ~ label[for="temp6"],
#register .cate .box input[id="temp7"]:checked ~ label[for="temp7"],
#register .cate .box input[id="temp8"]:checked ~ label[for="temp8"],
#register .cate .box input[id="temp9"]:checked ~ label[for="temp9"],
#register .cate .box input[id="temp10"]:checked ~ label[for="temp10"]{
    color: #000;
    font-weight: bold;
}

/* 리스트 */

#list .cate {
    display: flex;
    justify-content: center;
}

#list .cate div {
    padding: 0 15px;
    margin-right: 1px;
    font-size: 20px;
    color: #aaa;
    font-weight: bold;
    cursor: pointer;
}

#list .cate div.act {
    color: #000;
    border-bottom: 1px solid #000;
}

#list .list .item {
    padding: 40px 100px;
    margin: 0 300px;
    border-bottom: 1px solid #000;
    color: #000;
}

#list .list .item a {color: #000;}

#list .list .item:nth-child(1) {border-top: 1px solid #000;}

#list .list .pan {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 10px;
    min-width: 80px;
    text-align: center;

    color: #fff;
    background: #003964;
}

#list .jab {
    display: flex;
}

/* 게시물 */

#view {width: 1920px;}

#view .header .logo {
    margin: 0 auto;
    width: 80%;
}

#view .header .logo img {
    width: 100%;
}

#view .header .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#view .header .profile img {
    border-radius: 50%;
    width: 150px;
}

#view .content > div {
    border: 1px solid #000;
    border-bottom: none;
}

#view .content .top {
    padding: 12px 24px;
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#view .content .writer_info {
    display: flex;
    align-items: center;
}

#view .content .writer_info img {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

#view .content .mid {
    min-height: 750px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#view .content .mid .collon {
    font-size: 40px;
    color: #999;
}

#view .content .mid .main_content {
    font-size: 25pt;
    color: #000;
    font-style: italic;
    word-break: break-all;
}

#view .content .mid .people {
    color: #999;
    font-size: 20px;
}

#view .content .bot {
    padding: 12px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

#view .content .bot .btns {
    display: flex;
    align-items: center;
}

#view .content .bot button {
    border: none;
    background-color: transparent;
    margin-right: 10px;
}

#view .review > div {
    border: 1px solid #000;
}

#view .review .top {
    margin-top: 24px;
    padding: 12px 24px;

    min-height: 825px;
    max-height: 825px;

    overflow-y: auto;
}

#view .review .item {
    margin-bottom: 24px;
}

#view .review .item img {
    width: 50px;
    border-radius: 50%;
}

#view .review .bot {
    height: 53px;
    padding: 12px;
    border: 1px solid #000;
    border-top: none;

    display: flex;
    align-items: center;

    position: relative;
}

#view .review .bot button {
    position: absolute;
    background-color: transparent;
    border-style: none;
    right: 5%;
}

/* 게시물 작성 */

.write .top {
    display: flex;
    justify-content: space-between;
}

/* 마이페이지 */

.mypage .user_info {
    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 1px solid #000;
}

.mypage .user_info .box {
    height: 250px;
    padding: 40px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mypage .user_info .box img {
    border-radius: 50%;
    height: 100%;
}

.mypage .user_info .box .text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mypage .user_info .box .edit-btn {
    border: 1px solid #aaa;
    padding: 3px 2px;
}

.mypage .container {
    text-align: center;
}

.mypage .container > div {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.mypage .container > div .card {
    margin: 0 auto;
}

.mypage label {
    color: #aaa;
    padding: 30px 0;
}

.mypage input[id='post']:checked ~ label[for='post'],
.mypage input[id='like']:checked ~ label[for='like'],
.mypage input[id='save']:checked ~ label[for='save'] {
    color: #000;
    font-weight: bold;
    border-top: 2px solid #000;
}

.mypage input[id='post']:checked ~ .post,
.mypage input[id='like']:checked ~ .like,
.mypage input[id='save']:checked ~ .save {
    display: grid;
}

/* 검색 */

#search .box {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr;
}

#search .item {
    padding: 40px 100px;
    border-bottom: 1px solid #000;
    color: #000;
}

#search .item a {color: #000;}

#search .pan {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 10px;
    min-width: 80px;
    text-align: center;

    color: #fff;
    background: #003964;
}

#search .jab {
    display: flex;
}